*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Shippori Mincho", serif;
  font-size: 18px;
}
.titulo-principal {
  font-size: 45px;
  width: 100%;
  text-align: center;
  margin: auto;
}
body {
  padding: 50px;
  font-size: 16px;
  line-height: 1.5;
}
.display {
  display: flex;
  padding: 20px;
  border: solid bisque;
  color: rgb(14, 13, 13);
}
.imagen-principal {
  width: 250px;
  height: 350px;
  border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
  border: 4px solid rgba(202, 179, 105, 0.562);
  padding: 10px;
}
p {
  padding-left: 10px;
  padding-top: 30px;
  text-align: justify;
}
.fragmento {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
}
.fragmento a {
  width: 50%;
  text-align: center;
  font-style: oblique;
  font-size: medium;
  margin: auto;
  text-decoration: none;
}
.display1 {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-left: 15px;
  font-size: 20px;
}
.titulo-postre {
  text-align: center;
  background-color: rgba(202, 179, 105, 0.562);
  border-radius: 17px;
}
.contenedor {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 10px;
  justify-content: center;
}
.tabla {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}
.display2 {
  display: flex;
  justify-items: left;
  align-items: center;
  background-color: rgba(202, 179, 105, 0.562);
}
.preparacion {
  padding: 15px;
}
.display3 {
  display: flex;
  background-color: rgba(202, 179, 105, 0.562);
  border-radius: 17px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.iconos-redes {
  padding: 10px;
  width: 60px;
  height: 60px;
}
.bordes {
  border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
}
th,
td {
  width: 20%;
  text-align: center;
  border: 1px solid #000;
}
h2 {
  background-color: rgba(202, 179, 105, 0.562);
  border-radius: 17px;
  padding-left: 10px;
}
h3 {
  font-family: serif;
  font-size: 20px;
}
h4 {
  background-color: rgba(202, 179, 105, 0.562);
  border-radius: 17px;
  padding-left: 10px;
}
/* MEDIA QUERIES */
/* Teléfonos */
@media screen and (max-width: 767px) {
  body {
    font-size: 18px;
  }
  .contenedor {
    display: block;
  }
  .imagen-principal {
    width: 120px;
    height: 120px;
    justify-content: center;
  }
  .display {
    display: block;
    padding: 0px;
    margin: 0px;
    text-align: center;
    align-items: center;
  }
  .display1 {
    margin-left: 10px;
    gap: 30px;
  }
}
/* Tabletas */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 22px;
  }
}
/* Computadores */
@media screen and (min-width: 1024px) {
  body {
    font-size: 26px;
  }
}
